### In this File
*   Lambda
*   Map
*   Reduce
*   Filter

### Lambda Function:

- A lambda function is a small anonymous function.
- A lambda function can take any number of arguments, but can only have one expression.

#### Syntax:
lambda arguments : expression

In [1]:
x = lambda a : a + 10
print(x(5))

15

In [2]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [3]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [4]:
lambda x, y: x + y

In [5]:
_(1, 2)

3

In [6]:
(lambda x, y, z: x + y + z)(1, 2, 3)

6

In [7]:
(lambda x, y, z=3: x + y + z)(1, 2)

6

In [8]:
(lambda x, y, z=3: x + y + z)(1, y=2)

6

In [9]:
(lambda *args: sum(args))(1,2,3)

6

In [10]:
(lambda **kwargs: sum(kwargs.values()))(one=1, two=2, three=3)

6

In [11]:
(lambda x, *, y=0, z=0: x + y + z)(1, y=2, z=3)

6

In [12]:
remainder = lambda num: num % 2

print(remainder(5))

1

In [14]:
def testfunc(num):
    return lambda x : x * num

result1 = testfunc(10)
result2 = testfunc(1000)

print(result1(9))
print(result2(9))

90
9000

In [1]:
studentMarks = [56,77,88,45,2,27,44]

studentGrades = lambda:['First' if (per>=60 and per<=100) else
          'Second' if(per>=45 and per<=59) else 'Fail'
          for per in studentMarks]
          
print(studentGrades())

['Second', 'First', 'First', 'Second', 'Fail', 'Fail', 'Fail']

-------------------------------------------------------------------------------------------------------------------------------

-------------------------------------------------------------------------------------------------------------------------------

## map()

The map() is a function that takes in two arguments: 
1. A function 
2. A sequence iterable. 

- In the form: map(function, sequence)
    
- The first argument is the name of a function and the second a sequence (e.g. a list). 
- map() applies the function to all the elements of the sequence. It returns a new list with the elements changed by the function.

We'll start with two functions:

In [15]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)


def celsius(T):
    return (float(5)/9)*(T-32)
    
temp = [0, 22.5, 40,100]


def summ(x, y ):
    return x+y

In [16]:
F_temps = list(map(fahrenheit, temp))

#Show
F_temps

[32.0, 72.5, 104.0, 212.0]

In [17]:
# Convert back
list(map(celsius, F_temps))

[0.0, 22.5, 40.0, 100.0]

In the example above, we haven't used a lambda expression. By using lambda, it is not necessary to define and name fahrenheit() and celsius() functions.

In [5]:
list(map(lambda x : x+1, F_temps))

[33.0, 73.5, 105.0, 213.0]

- Map is more commonly used with lambda expressions since the entire purpose of a map() is to save effort on creating manual for loops.

- map() can be applied to more than one iterable. The iterables must have the same length.

- For instance, if we are working with two lists-map() will apply its lambda function to the elements of the argument lists, i.e. it first applies to the elements with the 0th index, then to the elements with the 1st index until the nth index is reached.

- For example, let's map a lambda expression to two lists:

In [21]:
a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12,4,5]

l = list(map(lambda x,y:x+y,a,b))
print (l)

def sum(x,y,z):
    return x+y+z

[6, 8, 10, 12]

In [22]:
# Now all three lists
list(map(sum, a,b,c))

[15, 18, 21, 24]

In the above example, the parameter 'x' gets its values from the list 'a', while 'y' gets its values from 'b' and 'z' from list 'c'.

In [23]:
# map() with lambda()
# to get double of a list.
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
 
final_list = list(map(lambda x: x*2, li))
print(final_list)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [24]:
animals = ['dog', 'cat', 'parrot', 'rabbit']
 
# here we intend to change all animal names
# to upper case and return the same
uppered_animals = list(map(lambda animal: str.upper(animal), animals))
 
print(uppered_animals)

['DOG', 'CAT', 'PARROT', 'RABBIT']

In [25]:
numbers_list = [2, 6, 8, 10, 11, 4, 12, 7, 13, 17, 0, 3, 21]

mapped_list = list(map(lambda num: num % 2, numbers_list))

print(mapped_list)

[0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1]

## reduce()

The function reduce(function, sequence) continually applies the function to the sequence. It then returns a single value. 

If seq = [s1, s2, s3, ... , sn], calling reduce(function, sequence) works like this:

- At first the first two elements of sequence will be applied to function, i.e. func(s1,s2) 
- The list on which reduce() works looks like this: [ function(s1, s2), s3, ... , sn ]
- In the next step the function will be applied on the previous result and the third element of the list, i.e. function(function(s1, s2),s3)
- The list looks like: [ function(function(s1, s2),s3), ... , sn ]
- It continues like this until just one element is left and return this element as the result of reduce()

Let's see an example:

In [26]:
from functools import reduce
lst =['sdfs','sdfsfsdf','sdf']
reduce(lambda a,b: a+b,lst)

'sdfssdfsfsdfsdf'

In [28]:
#Find the maximum of a sequence (This already exists as max())
max_find = lambda a,b: a if (a > b) else b
lst =[47,11,42,13]
 #     a.        b

In [29]:
#Find max
reduce(max_find,lst)

47

In [30]:
from functools import reduce
li = [5, 8, 10, 20, 50, 100]
sum = reduce((lambda x, y: x + y), li)
print (sum)

193

In [31]:
# importing functools for reduce()
import functools
 
# initializing list
lis = [ 1 , 3, 5, 6, 2, ]
 
# using reduce to compute maximum element from list
print ("The maximum element of the list is : ",end="")
print (functools.reduce(lambda a,b : a if a > b else b,lis))

The maximum element of the list is : 6

-------------------------------------------------------------------------------------------------------------------------------

## filter

- The function filter(function, list) offers a convenient way to filter out all the elements of an iterable, for which the function returns "True". 

- The function filter(function(),l) needs a function as its first argument. The function needs to return a Boolean value (either True or False). 

- This function will be applied to every element of the iterable. Only if the function returns "True" will the element of the iterable be included in the result.

In [32]:
#First let's make a function
def even_check(num):
    if num%2 ==0:
        return True

Now let's filter a list of numbers. Note that putting the function into filter without any parenthesis might feel strange, but keep in mind that functions are objects as well.

In [33]:
lst =[1,2,3,4,5,6,7,8]

list(filter(even_check,lst))

[2, 4, 6, 8]

filter() is more commonly used with lambda functions, this because we usually use filter for a quick job where we don't want to write an entire function. Let's repeat the example above using a lambda expression:

In [38]:
list(map(lambda x: x%2==0,lst))

[False, True, False, True, False, True, False, True]

In [36]:
numbers_list = [2, 6, 8, 10, 11, 4, 12, 7, 13, 17, 0, 3, 21]

filtered_list = list(filter(lambda num: (num > 7), numbers_list))

print(filtered_list)

[8, 10, 11, 12, 13, 17, 21]

### Recurssion

Recursion, which means a defined function can call itself.

- be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power.

In [2]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21