# Python - for Loop

- The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. 
- Iterating over a sequence is called traversal.

### Syntax:

    for element in sequence :

        Body of for
        
- Here, element is the variable that takes the value of the item inside the sequence on each iteration.
- Loop continues until we reach the last item in the sequence.

-------------------------------------------------------------------------------------------------------------------------------
#### - Looping Example

In [2]:
#Find product of all numbers present in a list (Looping through a list)

lst = [10, 20, 30, 40, 50]

product = 1
#iterating over the list
for ele in lst:
    product *= ele

print("Product is: {}".format(product))

Product is: 12000000

In [3]:
# Looping through String

for x in "banana":
  print(x)

b
a
n
a
n
a

-------------------------------------------------------------------------------------------------------------------------------
#### - break Statement

In [6]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

    
#-----------------------------#
print("------------")

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple
banana
------------
apple

-------------------------------------------------------------------------------------------------------------------------------
#### - continue statement

- With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [7]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

-------------------------------------------------------------------------------------------------------------------------------
### range() function

- We can generate a sequence of numbers using range() function. range(10) will generate numbers from 0 to 9 (10 numbers).
- We can also define the start, stop and step size as range(start,stop,step size). step size defaults to 1 if not provided.
- This function does not store all the values in memory, it would be inefficient. So it remembers the start, stop, step size and generates the next number on the go.

In [0]:
#print range of 10
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [0]:
#print range of numbers from 1 to 20 with step size of 2
for i in range(0, 20, 5):
    print(i)

0
5
10
15

In [8]:
lst = ["sat", "mat", "rat", "cat", "bat"]

#iterate over the list using index
#for index in range(len(lst)):
#    print(lst[index])
for ele in lst:
    print(ele)

sat
mat
rat
cat
bat

-------------------------------------------------------------------------------------------------------------------------------
### for loop with else

- A for loop can have an optional else block as well. The else part is executed if the items in the sequence used in for loop exhausts.
- break statement can be used to stop a for loop. In such case, the else part is ignored.
- Hence, a for loop's else part runs if no break occurs.

In [9]:
numbers = [1, 2, 3]

#iterating over the list
for item in numbers:
    print(item)
else:
    print("no item left in the list")

1
2
3
no item left in the list

In [10]:
for item in numbers:
    print(item)
    if item % 2 == 0:
        break
else:
    print("no item left in the list")

1
2

In [14]:
#print odd numbers present in a list
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num % 2 == 0:
        continue
    print(num)
else:
    print("else-block")

1
3
5
else-block

-------------------------------------------------------------------------------------------------------------------------------
#### Nested Loops

- A nested loop is a loop inside a loop.
- The "inner loop" will be executed one time for each iteration of the "outer loop":

In [11]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

-------------------------------------------------------------------------------------------------------------------------------
### Program to display all prime numbers within an interval

In [12]:
index1 = 20
index2 = 50

print("Prime numbers between {0} and {1} are :".format(index1, index2))

for num in range(index1, index2+1):      #default step size is 1
    if num > 1:
        isDivisible = False;
        for index in range(2, num):
            if num % index == 0:
                isDivisible = True;
        if not isDivisible:        
            print(num);

Prime numbers between 20 and 50 are :
23
29
31
37
41
43
47

In [13]:
num = int(input("Enter a number: "))        #convert string to int

isDivisible = False;

i=2;
while i < num:
    if num % i == 0:
        isDivisible = True;
        print ("{} is divisible by {}".format(num,i) )
        break; # this line is the only addition.
    i += 1;
    
if isDivisible:
    print("{} is NOT a Prime number".format(num))
else:
    print("{} is a Prime number".format(num))

Enter a number: 76
76 is divisible by 2
76 is NOT a Prime number