In this File:
- Reading JSON
- Handling Text Data 'str' methods
- Handling Missing Data

#### Reading JSON

In [2]:
import pandas as pd

df = pd.read_json('data.json')
print (df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.5
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.5
37         60    100       120     300.1
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.1
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

-------------------------------------------------------------------------------------------------------------------------------
#### Working with Text values:
  - Lowercasing and Uppercasing
  - Splitting and Replacing
  - Concatenating
  - Other Pandas str() methods

In [3]:
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']} 
   

df = pd.DataFrame(data) 
   
df["Name"]= df["Name"].str.lower()  # converting and overwriting values in column 
 
print(df)

     Name  Age    Address Qualification
0     jai   27      Delhi           Msc
1  princi   24     Kanpur            MA
2  gaurav   22  Allahabad           MCA
3    anuj   32    Kannauj           Phd

In [5]:
df["Name"]= df["Name"].str.upper() 
print(df)

     Name  Age    Address Qualification
0     JAI   27      Delhi           Msc
1  PRINCI   24     Kanpur            MA
2  GAURAV   22  Allahabad           MCA
3    ANUJ   32    Kannauj           Phd

In [17]:
#Split
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Knnuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']} 

df = pd.DataFrame(data) 
df.dropna(inplace = True) # dropping null value columns to avoid errors 
df["Address"]= df["Address"].str.split("a", expand = True)
print(df)

     Name  Age Address Qualification
0     Jai   27       N           Msc
1  Princi   24       K            MA
2  Gaurav   22     All           MCA
3    Anuj   32    Knnu           Phd

In [29]:
#Replace
df = pd.DataFrame(data)
df["Age"]=df["Age"].replace(27,"Twenty Seven")
print(df)

     Name           Age    Address Qualification
0     Jai  Twenty Seven     Nagpur           Msc
1  Princi            24     Kanpur            MA
2  Gaurav            22  Allahabad           MCA
3    Anuj            32     Knnuaj           Phd

In [30]:
# Concat
df = pd.DataFrame(data)
new = df["Address"].copy()
df["Name"]= df["Name"].str.cat(new, sep =", ") 
print(df)

                Name  Age    Address Qualification
0        Jai, Nagpur   27     Nagpur           Msc
1     Princi, Kanpur   24     Kanpur            MA
2  Gaurav, Allahabad   22  Allahabad           MCA
3       Anuj, Knnuaj   32     Knnuaj           Phd

In [37]:
# Removing White Spaces
# We use str.strip(), str.rstrip(), str.lstrip()

df1 = {
    'State':[' Arizona AZ ',' Georgia GG ', ' Newyork NY','Indiana IN ','Florida FL '],
   'Score':[62,47,55,74,31]}

df1 = pd.DataFrame(df1,columns=['State','Score'])
print(df1)

          State  Score
0   Arizona AZ      62
1   Georgia GG      47
2    Newyork NY     55
3   Indiana IN      74
4   Florida FL      31

In [35]:
#strip()
df1['State'] = df1['State'].str.strip()
print (df1)

        State  Score
0  Arizona AZ     62
1  Georgia GG     47
2  Newyork NY     55
3  Indiana IN     74
4  Florida FL     31

In [38]:
#df1['State'] = df1['State'].str.lstrip()
df1['State'] = df1['State'].str.rstrip()

print (df1)

         State  Score
0  Arizona AZ      62
1  Georgia GG      47
2   Newyork NY     55
3  Indiana IN      74
4  Florida FL      31

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.lstrip.html

-------------------------------------------------------------------------------------------------------------------------------

#### Handling Missing Data

Pandas provides some methods specific to missing data. To select NaN entries you can use pd.isnull() (or its companion pd.notnull())

- Replace NaN with a Scalar Value
- Fill NA Forward and Backward
- Drop Missing Values

In [42]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print (df)

        one       two     three
a -0.793589 -1.931372  0.787836
b       NaN       NaN       NaN
c  1.773147 -1.536140  1.198220
d       NaN       NaN       NaN
e  0.194884  1.581445 -0.086927
f  0.823543 -0.437545 -0.472786
g       NaN       NaN       NaN
h  0.648061  0.834372  0.337886

- NaN means Not a Number.
- Check for Missing Values:
    -  isnull() and notnull() functions, which are also methods on Series and DataFrame objects

In [44]:
print (df['one'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [45]:
print (df['one'].notnull())

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

In [48]:
# 1. Replace NaN with Scalar Value "fillna()"

print (df)
print ("\n")
print ("NaN replaced with '0':")
print (df.fillna(0))

        one       two     three
a -0.793589 -1.931372  0.787836
b       NaN       NaN       NaN
c  1.773147 -1.536140  1.198220
d       NaN       NaN       NaN
e  0.194884  1.581445 -0.086927
f  0.823543 -0.437545 -0.472786
g       NaN       NaN       NaN
h  0.648061  0.834372  0.337886


NaN replaced with '0':
        one       two     three
a -0.793589 -1.931372  0.787836
b  0.000000  0.000000  0.000000
c  1.773147 -1.536140  1.198220
d  0.000000  0.000000  0.000000
e  0.194884  1.581445 -0.086927
f  0.823543 -0.437545 -0.472786
g  0.000000  0.000000  0.000000
h  0.648061  0.834372  0.337886

In [49]:
#2. FillNA Backward/Forward

# pad/fill - Fill methods Forward
# bfill/backfill - Fill methods Backward

print ("Fill Forward")
print (df.fillna(method='pad'))
print ("\n")
print ("Fill Backward")
print (df.fillna(method='backfill'))

Fill Forward
        one       two     three
a -0.793589 -1.931372  0.787836
b -0.793589 -1.931372  0.787836
c  1.773147 -1.536140  1.198220
d  1.773147 -1.536140  1.198220
e  0.194884  1.581445 -0.086927
f  0.823543 -0.437545 -0.472786
g  0.823543 -0.437545 -0.472786
h  0.648061  0.834372  0.337886


Fill Backward
        one       two     three
a -0.793589 -1.931372  0.787836
b  1.773147 -1.536140  1.198220
c  1.773147 -1.536140  1.198220
d  0.194884  1.581445 -0.086927
e  0.194884  1.581445 -0.086927
f  0.823543 -0.437545 -0.472786
g  0.648061  0.834372  0.337886
h  0.648061  0.834372  0.337886

In [50]:
#3. Drop Missing Values

print (df.dropna())

        one       two     three
a -0.793589 -1.931372  0.787836
c  1.773147 -1.536140  1.198220
e  0.194884  1.581445 -0.086927
f  0.823543 -0.437545 -0.472786
h  0.648061  0.834372  0.337886

In [51]:
#4. Replace generic values - we have to replace a generic value with some specific value. We can achieve this by applying the "replace" method.

df = pd.DataFrame({'one':[10,20,30,40,50,2000], 'two':[1000,0,30,40,50,60]})

print (df.replace({1000:10,2000:60}))

   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60