In this File:
   - Pandas Intro
   - Series (Creating Lables, Series from dict)
   - DataFrame (Various ways to create DF)
        - Operations on Rows and Columns
            - Column Selection, Column Addition, Column Deletion
            - Row Selection, Row Addition, Row Deletion

# Pandas

### Python Data Analysis Library 

- It has functions for analyzing, cleaning, exploring, and manipulating data.
- Pandas generally provide two data structure for manipulating data, They are:
    - Series
    - DataFrame

--------------------------------------------------------------------------------------------------------------------------------
#### Series
- One-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). 
- The axis labels are collectively called index. Pandas Series is nothing but a column in an excel sheet.

In [1]:
import pandas as pd 
import numpy as np
  
ser = pd.Series() # Creating empty series
    
print(ser) 
  
data = np.array(['y', 'u', 'g', 'e', 's', 'h']) # simple array   
ser = pd.Series(data) 

print(ser)

Series([], dtype: float64)
0    y
1    u
2    g
3    e
4    s
5    h
dtype: object

<ipython-input-1-2801e48daf9b>:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser = pd.Series() # Creating empty series

In [7]:
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])

print (s)

100    a
101    b
102    c
103    d
dtype: object

In [2]:
#Creating our own lables

a = [1, 7, 2]
myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [9]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve multiple elements
print (s[['a','c','d']])

a    1
c    3
d    4
dtype: int64

In [3]:
#Creating series from a dictionary

calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [5]:
#Creating DataFrame from 2 Series

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}


myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

-------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------

#### DataFrame
- Two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). 
- A Data frame is a 2-D data structure, i.e., data is aligned in a tabular fashion in rows and columns.
- Series is like a column, a DataFrame is the whole table.

In [4]:
# Same as above Example
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

- In real world, a Pandas DataFrame will be created by loading the datasets from existing storage, storage can be SQL Database, CSV file, and Excel file. 
- Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc.

In [10]:
import pandas as pd
df = pd.DataFrame()
print (df)

Empty DataFrame
Columns: []
Index: []

In [13]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
df

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

- Creating DataFrame from Dict of ndarrays or Lists
    - All the ndarrays must be of same length. If index is passed, then the length of the index should equal to the length of the arrays.
    - If no index is passed, then by default, index will be range(n), where n is the array length.
    
    
- Here we will see:
    - Creating DF from Lists
    - Creating DF by passing List of Dictionaries
    - Creating DF from Dictionary of Series

In [14]:
# Creating DataFrames from Lists

data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
df

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

With the index() argument, you can name your own indexes.

In [15]:
# Creating DataFrames from Lists and giving them required Indexes

data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
df

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [16]:
# create a DataFrame by passing a List of Dictionaries

data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
df

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [18]:
# create a DataFrame from Dict of Series

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

#### Operations on Rows and Columns

##### - Column Selection: Select the column with its name

In [19]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df ['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

- Column Addition

In [23]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

# Adding a new column to an existing DataFrame object with column label by passing new series

print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print (df)

print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']

print (df)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

- Column Deletion
    - using del
    - using df.pop()

In [24]:
print (df)

# using del function
print ("Deleting the first column using DEL function:")
del df['one']
print (df)

# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print (df)

   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN
Deleting the first column using DEL function:
   two  three  four
a    1   10.0  11.0
b    2   20.0  22.0
c    3   30.0  33.0
d    4    NaN   NaN
Deleting another column using POP function:
   three  four
a   10.0  11.0
b   20.0  22.0
c   30.0  33.0
d    NaN   NaN

##### - Row Selection: Rows can be selected by passing row label to a **loc** function.

In [30]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

print (df)
print("\n")
print (df.loc['b'])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4


one    2.0
two    2.0
Name: b, dtype: float64

Selection by integer location
- Rows can be selected by passing integer location to an **iloc** function.

In [31]:
print (df)
print("\n")
print (df.iloc[2])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4


one    3.0
two    3.0
Name: c, dtype: float64

- Slice Rows: We can use ":" to slice the rows

In [33]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

print (df)
print("\n")
print (df[2:4])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4


   one  two
c  3.0    3
d  NaN    4

- Row Addition:
    - Add new rows to a DataFrame using the append function. This function will append the rows at the end.

In [34]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

print(df)
print("\n")
print(df2)
print("\n")
df = df.append(df2)
print (df)

   a  b
0  1  2
1  3  4


   a  b
0  5  6
1  7  8


   a  b
0  1  2
1  3  4
0  5  6
1  7  8

- Deleting Rows:
    - Use index label to delete or drop rows from a DataFrame. If label is duplicated, then multiple rows will be dropped.

In [35]:
print (df)
print ("\n")

# Drop rows with label 0
df = df.drop(0)

print (df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8


   a  b
1  3  4
1  7  8

-------------------------------------------------------------------------------------------------------------------------------
DataFrame - 2D Container
Panel     - 3D Container


DataFrame Basic Functionalities:
- df.T - Transpose Rows and Columns
- df.axes - Returns a list with the row axis labels and column axis labels as the only members.
- df.dtypes - Returns dtypes fo the object
- df.empty - True if dFrame is entirely empty (no items)
- df.ndim - Number of axes / array dimensions.
- df.shape - Returns a tuple representing the dimensionality of the DataFrame.
- df.size - Number of elements in the dframe.
- df.values - Number of elements in the DFrame.
- df.head() - Returns the first n rows.
- df.tail() - Returns last n rows.