# Tuples

- A tuple is similar to list

- The diffence between the two is that we can't change the elements of tuple once it is assigned whereas in the list, elements can be changed

# Tuple creation

In [4]:
#empty tuple
t1 = ()

#tuple having integers
t2 = (1,2,3)
print(t2)

#tuple with mixed datatypes
t3 = (1, 'raju', 28, 'abc')
print(t3)

#nested tuple
t4 = (1, (2, 3, 4), [1, 'raju', 28, 'abc'])
print(t4)


#type
t5 = ('A')
type(t5)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

str

In [12]:
#need a comma at the end
t = ('yugesh',)
type(t)

tuple

In [6]:
#parenthesis is optional
t = "yugesh", 23, '90'
print(type(t))

print(t)

# By defult if no braces are mentioned it considers it as tuple

<class 'tuple'>
('yugesh', 23, '90')

- Accessing
- Slicing
- Changing
    - Changing within
    - Concatenating
    - Repeating
- Deleting
- Count
- Membership

### Accessing Elements in Tuple

In [18]:
t = ('yugesh', 'murali', 'naveen', 'srinu', 'brahma')

print(t[1])

murali

In [19]:
#negative index
print(t[-1]) #print last element in a tuple

brahma

In [7]:
#nested tuple
t = ('ABC', ('yugesh', 'naveen', 'srinu'))

print(t[1][1])

naveen

In [21]:
print(t[1][2])

srinu

### Slicing

In [9]:
#Slicing
t = (1, 2, 3, 4, 5, 6)

print(t[1:4])

#print elements from starting to 2nd last elements
print(t[:-2])

#print elements from starting to end

print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

### Changing a Tuple

- Unlike lists, tuples are immutable
- This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [23]:
#creating tuple
t = (1, 2, 3, 4, [5, 6, 7])

t[2] = 'x' #will get TypeError

TypeError: 'tuple' object does not support item assignment

In [24]:
t[4][1] = 'yugesh'
print(t)

(1, 2, 3, 4, [5, 'yugesh', 7])

In [12]:
#concatinating tuples

t = (1, 2, 3) + (4, 5, 6)
print(t)

l = (4,5,6)

t.extend(l)
print(t)

(1, 2, 3, 4, 5, 6)

AttributeError: 'tuple' object has no attribute 'extend'

In [14]:
#repeat the elements in a tuple for a given number of times using the * operator.
t = (('satish', ) * 4)
print(t)

('satish', 'satish', 'satish', 'satish')

### Tuple Deletion

In [15]:
#we cannot change the elements in a tuple. 
# That also means we cannot delete or remove items from a tuple.

#delete entire tuple using del keyword
t = (1, 2, 3, 4, 5, 6)


#delete entire tuple
del t

AttributeError: 'tuple' object has no attribute 'pop'

### Tuple Count

In [16]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

#get the count of particular element appears in a tuple
t.count(1)

3

### Tuple Index

In [29]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

print(t.index(3)) #return index of the first element is equal to 3

#print index of the 1

2

### Tuple Memebership

In [30]:
#test if an item exists in a tuple or not, using the keyword in.
t = (1, 2, 3, 4, 5, 6)

print(1 in t)

True

In [31]:
print(7 in t)

False

## Built in Functions

### Tuple Length

In [32]:
t = (1, 2, 3, 4, 5, 6)
print(len(t))

6

### Tuple Sort

In [18]:
t = (4, 5, 1, 2, 3)

new_t = sorted(t)
print(type(new_t)) #Take elements in the tuple and return a new sorted list 
             #(does not sort the tuple itself).

<class 'list'>

In [19]:
#get the largest element in a tuple
t = (2, 5, 1, 6, 9)

print(max(t))

9

In [35]:
#get the smallest element in a tuple
print(min(t))

1

In [36]:
#get sum of elments in the tuple
print(sum(t))

23

In [31]:
t = (1, 2, 3, 4, (5, 6))
l = list(t)
l

[1, 2, 3, 4, (5, 6)]

In [32]:
l.remove(4)
t = tuple(l)
t

(1, 2, 3, (5, 6))